.code__reset {
  background-color: $color-brown;
  border: 1px solid $color-darkbrown;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.code__reset--hover:hover {
  background-color: $color-lightbrown;
}

.code__reset--click:active {
  background-color: $color-lightestbrown;
}

@media screen and (max-width: 600px) {
  .code__reset {
    padding: 5px;
    font-size: 14px;
  }
}

.game {
  h1,
  h2 {
    color: $color-darkbrown;
  }
}

@media screen and (max-width: 600px) {
    .game {
        height: 100vw;
      h1 {
        font-size: 20px;
    }
    }
  }


.game__code {
  background-color: $color-lightestbrown;
  padding: 20px;
  align-items: center;
  justify-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .answer {
    background-color: $color-brown;
    border: 1px solid $color-darkbrown;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    p {
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 600px) {
    .answer {
      width: 24px;
      height: 24px;
      p {
        padding: 5px;
        font-size: 12px;
      }
    }
  }

  .blue {
    background-color: $color-blue;
  }

  .lightblue {
    background-color: $color-lightblue;
  }

  .yellow {
    background-color: $color-yellow;
  }

  .pink {
    background-color: $color-pink;
  }

  .red {
    background-color: $color-red;
  }

  .green {
    background-color: $color-green;
  }
}

@media screen and (max-width: 600px) {
  .game__code {
    padding: 5px;
  }
}

.game__decoding__board {
  background-color: $color-lightbrown;
  padding: 20px;

  .decoding__board__row {
    border-bottom: 1px solid $color-darkbrown;
    align-items: center;
    justify-items: center;
    padding: 10px 0px;

    .guess {
      background-color: $color-brown;
      border: 1px solid $color-darkbrown;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
    }

    .blue {
      background-color: $color-blue;
    }

    .lightblue {
      background-color: $color-lightblue;
    }

    .yellow {
      background-color: $color-yellow;
    }

    .pink {
      background-color: $color-pink;
    }

    .red {
      background-color: $color-red;
    }

    .green {
      background-color: $color-green;
    }

    .guess__confirm--enabled {
      background-color: $color-lightestbrown;
      border: 1px solid $color-darkbrown;
      padding: 5px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bolder;
    }

    .guess__confirm--hover:hover {
      background-color: $color-brown;
    }

    .guess__confirm--click:active {
      background-color: $color-lightestbrown;
    }

    .guess__confirm--disabled {
      background-color: $color-lightbrown;
      color: $color-brown;
      border: 1px solid $color-darkbrown;
      padding: 5px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: 600px) {
  .game__decoding__board {
    padding: 10px;

    .decoding__board__row {
      padding: 5px 0px;
      .guess {
        width: 24px;
        height: 24px;
      }

      .guess__confirm--enabled {
        font-size: 10px;
      }
      .guess__confirm--disabled {
        font-size: 10px;
      }

    }
   
  }
}

.game__peg__board {
  background-color: $color-lightbrown;
  padding: 20px;
  align-items: center;
  justify-items: center;

  .code__pegs {
    color: $color-lightbrown;
    border: 1px solid $color-brown;
    width: 40px;
    height: 40px;

    .peg {
      border: 1px solid $color-brown;
      margin: 3px;
    }

    .white {
      background-color: $color-white;
    }
    .black {
      background-color: $color-black;
    }
  }
}

@media screen and (max-width: 600px) {
  .game__peg__board {
    padding: 10px;

    .code__pegs {
      width: 24px;
      height: 24px;
    }
  }
}

.game__color__choices {
  background-color: $color-lightestbrown;
  align-items: center;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .choice {
    background-color: $color-lightbrown;
    border: 1px solid $color-darkbrown;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .choice--hover:hover {
    border: 3px solid $color-darkbrown;
  }

  .blue {
    background-color: $color-blue;
  }

  .blue--click:active {
    background-color: $color-blue-active;
  }

  .lightblue {
    background-color: $color-lightblue;
  }

  .lightblue--click:active {
    background-color: $color-lightblue-active;
  }

  .yellow {
    background-color: $color-yellow;
  }

  .yellow--click:active {
    background-color: $color-yellow-active;
  }

  .pink {
    background-color: $color-pink;
  }

  .pink--click:active {
    background-color: $color-pink-active;
  }

  .red {
    background-color: $color-red;
  }

  .red--click:active {
    background-color: $color-red-active;
  }

  .green {
    background-color: $color-green;
  }

  .green--click:active {
    background-color: $color-green-active;
  }

  .guess__erase {
    background-color: $color-brown;
    border: 1px solid $color-darkbrown;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bolder;
  }

  .guess__erase--hover:hover {
    background-color: $color-lightbrown;
  }

  .guess__erase--click:active {
    background-color: $color-lightestbrown;
  }
}

@media screen and (max-width: 600px) {
  .game__color__choices {
    padding: 10px;

    .choice {
      width: 24px;
      height: 24px;
    }

    .guess__erase {
      padding: 5px;
      font-size: 14px;
    }
  }
}

.game__end {
  .game__end__message {
    background-color: $color-blue;
    border: 5px solid $color-lightestbrown;
    position: fixed;
    top: 40%;
    height: auto;
    z-index: 2000;
    opacity: 1;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    h1 {
      color: $color-red;
      padding: 20px 0px;
    }

    p {
      font-size: 1.5em;
      color: $color-lightblue;
      padding: 0px 0px 20px 0px;
    }

    .game__end__button {
      color: $color-pink;
      background-color: $color-yellow;
      border: 1px solid $color-darkbrown;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.5em;
    }

    .game__end__button--hover:hover {
      background-color: $color-pink;
      color: $color-yellow;
    }

    .game__end__button--click:active {
      background-color: $color-green;
      color: $color-pink;
    }
  }
}

@media screen and (max-width: 600px) {
  .game__end__message {
    border: 3px solid $color-lightestbrown;
    padding: 20px 10px;
    h1 {
      padding: 10px 0px;
    }
    p {
      padding: 0px 0px 10px 0px;
    }
  }
}

.game__copyright {
  margin: 20px 0px;
  .copyright__description {
    color: $color-grey;
    font-size: 14px;
  }
}
