.guess {
  background-color: $color-brown;
  border: 1px solid $color-darkbrown;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
    p {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
    }

}

.blue {
    background-color: $color-blue;
  }

  .lightblue {
    background-color: $color-lightblue;
  }

  .yellow {
    background-color: $color-yellow;
  }

  .pink {
    background-color: $color-pink;
  }

  .red {
    background-color: $color-red;
  }

  .green {
    background-color: $color-green;
  }


.game {
    h1, h2 {
    color: $color-darkbrown
}
}

.answer {
    background-color: $color-brown;
    border: 1px solid $color-darkbrown;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
      p {
          padding: 10px;
          font-size: 18px;
          font-weight: bold;
      }
  }

.game__code {
  background-color: $color-lightestbrown;
  padding: 20px;
  align-items: center;
  justify-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.game__decoding__board {
  background-color: $color-lightbrown;
  padding: 20px;

  .decoding__board__row {
    border-bottom: 1px solid $color-darkbrown;
    align-items: center;
    justify-items: center;
    padding: 10px 0px;

    .guess__confirm {
        background-color: $color-lightbrown;
        border: 1px solid $color-darkbrown;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: bolder;
    }
  }
}

.game__peg__board {
  background-color: $color-lightbrown;
  padding: 20px;
  align-items: center;
  justify-items: center;
  border-top-right-radius: 20px;

  .code__pegs {
    color: $color-lightbrown;
    border: 1px solid $color-brown;
    width: 40px;
    height: 40px;

    .peg {
      border: 1px solid $color-brown;
      margin: 3px;
    }

    .white {
        background-color: $color-white;
    }
    .black {
        background-color: $color-black;
    }

  }
}

.game__color__choices {
  background-color: $color-lightestbrown;
  align-items: center;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .choice {
    background-color: $color-lightbrown;
    border: 1px solid $color-darkbrown;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .choice--hover:hover {
    border: 3px solid $color-darkbrown;
  }

  .blue {
    background-color: $color-blue;
  }

  .blue:active{
    background-color: $color-blue-active;
  }

  .lightblue {
    background-color: $color-lightblue;
  }

  .lightblue--click:active {
    background-color: $color-lightblue-active;
  }

  .yellow {
    background-color: $color-yellow;
  }

  .yellow--click:active {
    background-color: $color-yellow-active;
  }

  .pink {
    background-color: $color-pink;
  }

  .pink--click:active {
    background-color: $color-pink-active;
  }

  .red {
    background-color: $color-red;
  }

  .red--click:active {
    background-color: $color-red-active;
  }

  .green {
    background-color: $color-green;
  }

  .green--click:active {
    background-color: $color-green-active;
  }

  .choice__erase {
    background-color: $color-brown;
    border: 1px solid $color-darkbrown;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bolder;
  }
}

.game__copyright {
    color: $color-grey;
    margin: 20px 0px;
}
