// common
.color__peg {
  background-color: $color-brown;
  border: 1px solid $color-darkbrown;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.myblue {
    background-color: #007991;
  }

  .mylightblue {
    background-color: #6699cc;
  }

  .myyellow {
    background-color: #ffcc33;
  }

  .mypink {
    background-color: #d47479;
  }

  .myred {
    background-color: #7b1113;
  }

  .mygreen {
    background-color: #556b2f;
  }
// specific

.game {
    h1, h2 {
    color: $color-darkbrown
}
}

.game__code {
  background-color: $color-yellow;
  padding: 20px;
  align-items: center;
  justify-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.game__decoding__board {
  background-color: $color-lightbrown;
  padding: 20px;

  .decoding__board__row {
    border-bottom: 1px solid $color-darkbrown;
    align-items: center;
    justify-items: center;
    padding: 10px 0px;
  }
}

.game__peg__board {
  background-color: $color-lightbrown;
  padding: 20px;
  align-items: center;
  justify-items: center;
  border-top-right-radius: 20px;

  .code__pegs {
    color: $color-lightbrown;
    border: 1px solid $color-brown;
    width: 40px;
    height: 40px;

    .peg {
      border: 1px solid $color-brown;
      margin: 3px;
    }

    .mywhite {
        background-color: $color-white;
    }
    .myblack {
        background-color: $color-black;
    }

  }
}

.game__color__choices {
  background-color: $color-yellow;
  align-items: center;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .choice {
    background-color: $color-lightbrown;
    border: 1px solid $color-darkbrown;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .myblue {
    background-color: #007991;
  }

  .mylightblue {
    background-color: #6699cc;
  }

  .myyellow {
    background-color: #ffcc33;
  }

  .mypink {
    background-color: #d47479;
  }

  .myred {
    background-color: #7b1113;
  }

  .mygreen {
    background-color: #556b2f;
  }

  .choice__confirm {
    background-color: $color-brown;
    border: 1px solid $color-darkbrown;
    padding: 10px;
    border-radius: 10px;
  }
}

.game__copyright {
    color: $color-grey;
    margin: 20px 0px;
}
