@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Raleway&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  color: #6f4e37;
}

.code__reset {
  background-color: #a67b5b;
  border: 1px solid #6f4e37;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.code__reset--hover:hover {
  background-color: #d99a6c;
}

.code__reset--click:active {
  background-color: #ecb176;
}

.game h1, .game h2 {
  color: #6f4e37;
}

.game__code {
  background-color: #ecb176;
  padding: 20px;
  align-items: center;
  justify-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.game__code .answer {
  background-color: #a67b5b;
  border: 1px solid #6f4e37;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.game__code .answer p {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.game__code .blue {
  background-color: #007991;
}
.game__code .lightblue {
  background-color: #7ed4e6;
}
.game__code .yellow {
  background-color: #ffcc33;
}
.game__code .pink {
  background-color: #d47479;
}
.game__code .red {
  background-color: #691240;
}
.game__code .green {
  background-color: #556b2f;
}

.game__decoding__board {
  background-color: #d99a6c;
  padding: 20px;
}
.game__decoding__board .decoding__board__row {
  border-bottom: 1px solid #6f4e37;
  align-items: center;
  justify-items: center;
  padding: 10px 0px;
}
.game__decoding__board .decoding__board__row .guess {
  background-color: #a67b5b;
  border: 1px solid #6f4e37;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.game__decoding__board .decoding__board__row .guess p {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.game__decoding__board .decoding__board__row .blue {
  background-color: #007991;
}
.game__decoding__board .decoding__board__row .lightblue {
  background-color: #7ed4e6;
}
.game__decoding__board .decoding__board__row .yellow {
  background-color: #ffcc33;
}
.game__decoding__board .decoding__board__row .pink {
  background-color: #d47479;
}
.game__decoding__board .decoding__board__row .red {
  background-color: #691240;
}
.game__decoding__board .decoding__board__row .green {
  background-color: #556b2f;
}
.game__decoding__board .decoding__board__row .guess__confirm--enabled {
  background-color: #ecb176;
  border: 1px solid #6f4e37;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bolder;
}
.game__decoding__board .decoding__board__row .guess__confirm--hover:hover {
  background-color: #a67b5b;
}
.game__decoding__board .decoding__board__row .guess__confirm--click:active {
  background-color: #ecb176;
}
.game__decoding__board .decoding__board__row .guess__confirm--disabled {
  background-color: #d99a6c;
  color: #a67b5b;
  border: 1px solid #6f4e37;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bolder;
}

.game__peg__board {
  background-color: #d99a6c;
  padding: 20px;
  align-items: center;
  justify-items: center;
}
.game__peg__board .code__pegs {
  color: #d99a6c;
  border: 1px solid #a67b5b;
  width: 40px;
  height: 40px;
}
.game__peg__board .code__pegs .peg {
  border: 1px solid #a67b5b;
  margin: 3px;
}
.game__peg__board .code__pegs .white {
  background-color: #fffdf9;
}
.game__peg__board .code__pegs .black {
  background-color: #0c1618;
}

.game__color__choices {
  background-color: #ecb176;
  align-items: center;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.game__color__choices .choice {
  background-color: #d99a6c;
  border: 1px solid #6f4e37;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.game__color__choices .choice--hover:hover {
  border: 3px solid #6f4e37;
}
.game__color__choices .blue {
  background-color: #007991;
}
.game__color__choices .blue--click:active {
  background-color: #56b0b5;
}
.game__color__choices .lightblue {
  background-color: #7ed4e6;
}
.game__color__choices .lightblue--click:active {
  background-color: #bde0fe;
}
.game__color__choices .yellow {
  background-color: #ffcc33;
}
.game__color__choices .yellow--click:active {
  background-color: #ffd65c;
}
.game__color__choices .pink {
  background-color: #d47479;
}
.game__color__choices .pink--click:active {
  background-color: #f59b92;
}
.game__color__choices .red {
  background-color: #691240;
}
.game__color__choices .red--click:active {
  background-color: #ac0968;
}
.game__color__choices .green {
  background-color: #556b2f;
}
.game__color__choices .green--click:active {
  background-color: #718e3e;
}
.game__color__choices .guess__erase {
  background-color: #a67b5b;
  border: 1px solid #6f4e37;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bolder;
}
.game__color__choices .guess__erase--hover:hover {
  background-color: #d99a6c;
}
.game__color__choices .guess__erase--click:active {
  background-color: #ecb176;
}

.game__end .game__end__message {
  background-color: #007991;
  border: 5px solid #ecb176;
  position: fixed;
  top: 40%;
  height: auto;
  z-index: 2000;
  opacity: 1;
  border-radius: 20px;
  padding: 40px 20px;
  text-align: center;
}
.game__end .game__end__message h1 {
  color: #691240;
  padding: 20px 0px;
}
.game__end .game__end__message p {
  font-size: 1.5em;
  color: #7ed4e6;
  padding: 0px 0px 20px 0px;
}
.game__end .game__end__message .game__end__button {
  color: #d47479;
  background-color: #ffcc33;
  border: 1px solid #6f4e37;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5em;
}
.game__end .game__end__message .game__end__button--hover:hover {
  background-color: #d47479;
  color: #ffcc33;
}
.game__end .game__end__message .game__end__button--click:active {
  background-color: #556b2f;
  color: #d47479;
}

.game__copyright {
  color: #ded7c7;
  margin: 20px 0px;
}

.game {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px;
}
.game .game__header {
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
}
.game .game__menu {
  grid-row: 2/3;
  grid-column: 1/3;
  text-align: center;
}
.game .game__code {
  grid-row: 3/4;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.game .game__decoding__board {
  grid-row: 4/5;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.game .game__decoding__board .decoding__board__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.game .game__peg__board {
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
.game .game__peg__board .code__pegs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}
.game .game__color__choices {
  grid-row: 5/6;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.game .game__copyright {
  grid-row: 6/7;
  grid-column: 1/3;
}/*# sourceMappingURL=main.css.map */